services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: m90
      POSTGRES_USER: m90user
      POSTGRES_PASSWORD: m90pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
